.AdvanceSearchContainer {
	width: 1800px;
	margin: 0 auto;
}

.Advance__search_title {
	color: var(--main-text-color);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
}

.Advance__search_subtitle {
	color: var(--main-text-color);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
}

.wrapper {
	display: flex;
	align-items: center;
}
.wrapper_title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
}

.wrapper_input {
	width: 120px;
	height: 33px;
	margin-right: 10px;
	padding: 0 10px;
	background: var(--main-bg-color);
	border: var(--border-main);
	border-radius: var(--border-radius-10px);
}

.wrapper_price {
	color: var(--main-text-color);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	margin: 0;
}
