.data-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		h6 {
			font-size: 3em;
			font-weight: 700;
			color: var(--blue);
		}
		p {
			font-size: 0.8em;
			text-transform: uppercase;
		}
	}
}
.table {
	&__text {
		text-transform: uppercase;
	}
	&__title {
		font-weight: 700;
		color: var(--blue) !important;
	}
}
