.Header {
	background-color: var(--blue);
}

.Header__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 7px;
}

.header__title {
	display: inline-block;
	margin-left: 20px;
	color: #fff;
}

.header__link {
	background: none;
	border: none;
}

.header__button {
	background: url(https://www.gloriousdiamonds.net/application/public/images/diamonds/w-1.png)
		no-repeat center center;
	background-color: #fff;
	margin-top: 40px;
	width: 85px;
	height: 75px;
}
