.additional__data {
	display: flex;
	gap: 15px;
	overflow: hidden;
	transition: max-height 0.3s ease;
	.card__image {
		cursor: pointer;
		height: 150px;
		width: auto;
	}
}

.table {
	&__heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
		p {
			font-size: 14px;
			text-transform: uppercase;
			color: var(--blue);
		}
		&.active {
			background: var(--blue);
		}
	}
	&__sort {
		transition: transform 0.3s ease-in-out;
	}
	&__sort.rotate {
		transform: rotate(180deg);
	}
	&-body__text {
		td {
			font-size: 13px;
			text-align: center;
		}
	}
	th {
		&.active {
			background: var(--blue);
			.table__heading p {
				color: var(--text-color);
			}
		}
	}
}

.sort {
	&__button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		width: 100%;
		p {
			padding: 0;
			margin: 0;
		}
	}
	.dropdown-toggle.btn.btn-primary {
		height: 100%;
		padding: 9px 12px;
	}
}

.results {
	&__total {
		text-transform: uppercase;
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 0;
		span {
			color: var(--main-hover-color);
			font-weight: 700;
		}
	}
}
