.card {
	background: var(--card-bg);
	padding: 0;
	border-radius: 15px;
}
.cardImage {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	height: 150px;
	width: 150px;
	transition: height 0.3s ease;
	border-radius: 15px;
	aspect-ratio: 256∶203;
	img {
		border-radius: 15px;
	}
	.show {
		height: 150px;
	}

	.hide {
		height: 0;
	}
}
.returnFilters {
	width: 150px;
	height: 30px;
	margin: 0 0 30px 150px;
	border-radius: 10px;
	background-color: #3987fd;
	border: none;
	color: #fff;
}
