.btn-primary {
	background: var(--blue);
	border-color: var(--blue);
	&:hover {
		background: var(--main-hover-color);
		border-color: var(--main-hover-color);
	}
	&:checked + .btn,
	&.active,
	&.show,
	&:first-child:active,
	:not(.btn-check) + &:active {
		background: var(--main-hover-color);
		border-color: var(--main-hover-color);
	}
}

.SearchContainer {
	display: flex;
	align-items: center;
	max-width: 1900px;
	margin: 0 auto;
	padding: 0;
}

.search__input {
	display: block;
	max-width: 500px;
	height: 40px;
	width: 100%;
	padding: 0 10px;
	padding-left: 15px;
	background: var(--main-bg-color);
	border: var(--border-main);
	border-radius: var(--border-radius-10px);
}

.search__btn {
	margin: 10px 0 0 2px;
	width: fit-content;
	min-width: 25px;
	height: 35px;
	padding: 0 15px;
	background-color: var(--main-bg-color);
	border: 2px solid var(--main-bg-color);
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 12px;
	padding-top: 14px;

	cursor: pointer;
}

.search__btn:hover {
	border: 2px solid var(--main-hover-color);
}

.option__btn_highlight {
	margin: 10px 0 0 2px;
	width: 85px;
	height: 75px;
	background-color: var(--main-bg-color);
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 12px;

	cursor: pointer;
}

.option__btn_highlight:hover {
	border: 2px solid var(--main-hover-color);
}

.search__img {
	margin-top: 4px;
	width: 35px;
	height: 35px;
}

.search__descr {
	color: var(--main-text-color);
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
}

.Title {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 20px;
}

.carat__wrapper_input {
	display: flex;
	gap: 20px;
	margin-bottom: 10px;
}

.carat__wrapper_inputItem {
	width: 90px;
	height: 30px;
	padding: 0 10px;
	color: var(--text-color);
	border: var(--border-main);
	background: var(--main-bg-color);
	border-radius: var(--border-radius-10px);
}

.carat__wrapper_btn {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background-color: var(--blue);
	border: none;
	border-radius: 50%;
}

.carat__wrapper_btnImg {
	display: block;
	width: 15px;
	height: 15px;
}

.size__wrapper {
	display: flex;
	align-items: center;
}

.size__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
}

.size__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-bottom: 10px;
}

.size__label:active {
	background-color: var(--blue);
}

.size__input {
	display: none;
}

.color__wrapper {
	display: flex;
	align-items: center;
}

.color__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
}

.color__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
}

.color__label:active {
	background-color: var(--blue);
}

.color__input {
	display: none;
}

.clarity__wrapper {
	display: flex;
	align-items: center;
}

.clarity__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
}

.clarity__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
}

.clarity__label:active {
	background-color: var(--blue);
}

.clarity__input {
	display: none;
}

.fl__wrapper {
	display: flex;
	align-items: center;
}

.fl__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
}

.fl__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
}

.fl__label:active {
	background-color: var(--blue);
}

.fl__input {
	display: none;
}

.colorShade__wrapper {
	display: flex;
	align-items: center;
}

.colorShade__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
}

.colorShade__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
}

.colorShade__label:active {
	background-color: var(--blue);
}

.colorShade__input {
	display: none;
}

.lab__wrapper {
	display: flex;
	align-items: center;
}

.lab__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
}

.lab__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
}

.lab__label:active {
	background-color: var(--blue);
}

.lab__input {
	display: none;
}

.example__wrapper {
	display: flex;
	align-items: center;
}
.example__wrapper_title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
	margin-right: 121px;
}

.example__wrapper_input {
	width: 115px;
	height: 30px;
	margin-right: 10px;
	padding: 0 10px;
}

.example__wrapper_price {
	font-weight: 600;
	font-size: 20px;
}

.example__wrapper_input1 {
	width: 115px;
	height: 30px;
	margin-right: 10px;
	padding: 0 10px;
	background-color: var(--blue);
	border: 1px var(--blue) solid;
}

.cutItem__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 35px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	font-size: 14px;
}

.cutItem__label:active {
	background-color: var(--blue);
}

.cutItem__input {
	display: none;
}

.cutItem2__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 35px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	font-size: 14px;
}

.cutItem2__label:active {
	background-color: var(--blue);
}

.cutItem2__input {
	display: none;
}

.cutItem3__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 35px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	font-size: 14px;
}

.cutItem3__label:active {
	background-color: var(--blue);
}

.cutItem3__input {
	display: none;
}

.noBgm__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85px;
	height: 35px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	font-size: 14px;
}

.noBgm__label:active {
	background-color: var(--blue);
}

.noBgm__input {
	display: none;
}

.cut__wrapper {
	display: flex;
	align-items: center;
}

.cut__title {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 20px;
}

.cut__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-bottom: 10px;
}

.cut__label:active {
	background-color: var(--blue);
}

.cut__input {
	display: none;
}

.cutItem1__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	font-size: 17px;
	margin-bottom: 10px;
}

.cutItem1__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	font-size: 15px;
	margin-bottom: 10px;
}

.cutItem1__label:active {
	background-color: var(--blue);
}

.cutItem1__input {
	display: none;
}

.polish__wrapper {
	display: flex;
	align-items: center;
}

.polish__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
}

.polish__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-left: 147px;
}

.polish__label:active {
	background-color: var(--blue);
}

.polish__input {
	display: none;
}

.polishItem1__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	font-size: 17px;
}

.polishItem1__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-left: 10px;
	font-size: 15px;
}

.polishItem1__label:active {
	background-color: var(--blue);
}

.polishItem1__input {
	display: none;
}

.symmetry__wrapper {
	display: flex;
	align-items: center;
}

.symmetry__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
}

.symmetry__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-left: 105px;
}

.symmetry__label:active {
	background-color: var(--blue);
}

.symmetry__input {
	display: none;
}

.symmetryItem1__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
	margin-left: 322px;
	font-size: 17px;
}

.symmetryItem1__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-left: 10px;
	font-size: 15px;
}

.symmetryItem1__label:active {
	background-color: var(--blue);
}

.symmetryItem1__input {
	display: none;
}

.crown__wrapper {
	display: flex;
	align-items: center;
}

.crownItem1__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
	margin-left: 657px;
	font-size: 17px;
}

.crownItem1__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-left: 10px;
	font-size: 15px;
}

.crownItem1__label:active {
	background-color: var(--blue);
}

.crownItem1__input {
	display: none;
}

.milky__wrapper {
	display: flex;
	align-items: center;
}

.milkyItem1__title {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	font-size: 20px;
	margin-left: 657px;
	font-size: 17px;
}

.milkyItem1__label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 30px;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-left: 205px;
	font-size: 15px;
}

.milkyItem1__label:active {
	background-color: var(--blue);
}

.milkyItem1__input {
	display: none;
}

.cutItem__wrapper {
	display: flex;
	gap: 10px;
	margin-top: 60px;
	margin-bottom: 30px;
}

.cutItem5__title {
	display: inline-block;
	width: 60px;
	font-weight: 600;
	font-size: 20px;
	font-size: 17px;
	margin-top: 22px;
}

.cutItem4__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	font-size: 17px;
	margin-top: 16px;
}

.cutItem3__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	font-size: 17px;
	margin-top: 10px;
}

.cutItem2__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	font-size: 17px;
	margin-top: 6px;
}

.selected {
	margin: 10px 0 0 2px;
	width: fit-content;
	min-width: 25px;
	height: 35px;
	padding: 0 15px;
	background: var(--main-hover-color);
	border: 2px solid #6172d5;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	padding-top: 15px;
	font-size: 12px;
	.search__descr {
		color: #fff;
	}
}

.selected_option {
	margin: 10px 0 0 2px;
	width: 85px;
	height: 75px;
	background: var(--main-hover-color);
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	padding-top: 15px;
	font-size: 12px;
	.search__descr {
		color: #fff;
	}
}

.btnCarat {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	background-color: var(--blue);
	border: none;
}

.btnCarat:hover {
	background-color: var(--blue);
}

.button__primary {
	background-color: var(--blue);
	border: none;
}

.option_button__wrapper {
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--title-bg-color);
	border: 1px solid var(--blue);
	cursor: default;

	h5 {
		color: var(--headers_color);
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 0;
		padding: 5px 0 5px 15px;
	}
}
