.card {
	background: var(--card-bg);
	padding: 0;
	border-radius: 15px;
}
.cardImage {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%;
	border-radius: 15px;
	aspect-ratio: 6/5;
	transition: height 0.3s ease;
	img {
		border-radius: 15px;
	}
}
.returnFilters {
	border-radius: 50%;
	background-color: var(--blue);
	border: none;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.additional-data {
	display: flex;
	gap: 15px;
	overflow: hidden;
	transition: max-height 0.3s ease;
	.cardImage {
		height: 150px;
		width: auto;
	}
}

.card {
	.cardImage {
		cursor: default;
		width: 100%;
		height: 250px;
	}
}

.table {
	&__heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
	}
	&__sort {
		transition: transform 0.3s ease-in-out;
	}
	&__sort.rotate {
		transform: rotate(180deg);
	}
}
